@import '~normalize.css';

*,
:after,
:before {
  box-sizing: border-box;
  outline: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  overflow: overlay;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
}
